## Observations and Insights

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

In [2]:
# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
mouse_metadata.head()

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16

In [3]:
study_results = pd.read_csv(study_results_path)
study_results.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [4]:
# Combine the data into a single dataset
mouse_merged_df = mouse_metadata.merge(study_results, how = "outer", on = "Mouse ID")

#Check for NaN
#mouse_merged_df.isnull().sum()

# Display the data table for preview
mouse_merged_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [5]:
# Checking the number of mice.
nmice = mouse_merged_df["Mouse ID"].nunique()
print(nmice)

249

In [6]:
#Find mice with duplicate timepoints
# Optional: Get all the data for the duplicate mouse ID. 
duplicate = mouse_merged_df[mouse_merged_df.duplicated(["Mouse ID", "Timepoint"], keep = False)] 
duplicate

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
908,g989,Propriva,Female,21,26,0,45.000000,0
909,g989,Propriva,Female,21,26,0,45.000000,0
910,g989,Propriva,Female,21,26,5,48.786801,0
911,g989,Propriva,Female,21,26,5,47.570392,0
912,g989,Propriva,Female,21,26,10,51.745156,0
913,g989,Propriva,Female,21,26,10,49.880528,0
914,g989,Propriva,Female,21,26,15,51.325852,1
915,g989,Propriva,Female,21,26,15,53.442020,0
916,g989,Propriva,Female,21,26,20,55.326122,1
917,g989,Propriva,Female,21,26,20,54.657650,1

In [7]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
mouse_cleaned_df = mouse_merged_df.set_index("Mouse ID", drop = False)
mouse_cleaned_df = mouse_cleaned_df.drop(["g989"])
mouse_cleaned_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
Mouse ID,,,,,,,,
k403,k403,Ramicane,Male,21,16,0,45.000000,0
k403,k403,Ramicane,Male,21,16,5,38.825898,0
k403,k403,Ramicane,Male,21,16,10,35.014271,1
k403,k403,Ramicane,Male,21,16,15,34.223992,1
k403,k403,Ramicane,Male,21,16,20,32.997729,1

In [8]:
# Checking the number of mice in the clean DataFrame.
nmice2 = mouse_cleaned_df["Mouse ID"].nunique()
print(nmice2)

248

## Summary Statistics

In [15]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
mouse_cleaned_df.head()
drug_groups = mouse_cleaned_df.groupby("Drug Regimen")
drug_groups.describe()

             Age_months                                                     \
                  count       mean       std  min    25%   50%   75%   max
Drug Regimen
Capomulin         230.0  13.456522  7.721423  1.0   7.00  16.5  20.0  24.0
Ceftamin          178.0  13.247191  8.071406  2.0   6.00  12.0  20.0  24.0
Infubinol         178.0  16.230337  7.510278  1.0   8.00  20.0  23.0  24.0
Ketapril          188.0  15.659574  6.019670  1.0  11.75  18.0  19.0  24.0
Naftisol          186.0  12.000000  6.715855  2.0   8.00   9.0  19.0  23.0
Placebo           181.0  10.734807  6.354907  1.0   5.00  10.0  17.0  21.0
Propriva          148.0  10.006757  6.946341  1.0   5.00   7.5  16.0  24.0
Ramicane          228.0  10.684211  5.946629  1.0   7.00   9.0  18.0  23.0
Stelasyn          181.0  12.784530  7.939562  1.0   4.00  14.0  21.0  23.0
Zoniferol         182.0  12.598901  5.786114  2.0   8.00  12.5  16.0  24.0

             Weight (g)             ... Tumor Volume (mm3)             \
                  count       mean  ...                75%        max
Drug Regimen                        ...
Capomulin         230.0  19.965217  ...          45.000000  48.158209
Ceftamin          178.0  27.398876  ...          56.801438  68.923185
Infubinol         178.0  27.196629  ...          57.314444  72.226731
Ketapril          188.0  27.861702  ...          60.870951  78.567014
Naftisol          186.0  27.166667  ...          59.963034  76.668817
Placebo           181.0  27.928177  ...          59.916934  73.212939
Propriva          148.0  27.135135  ...          56.491585  72.455421
Ramicane          228.0  19.679825  ...          45.000000  47.622816
Stelasyn          181.0  27.856354  ...          58.719297  75.123690
Zoniferol         182.0  27.692308  ...          57.954259  73.324432

             Metastatic Sites
                        count      mean       std  min  25%  50%  75%  max
Drug Regimen
Capomulin               230.0  0.713043  0.848993  0.0  0.0  0.0  1.0  3.0
Ceftamin                178.0  1.179775  1.184283  0.0  0.0  1.0  2.0  4.0
Infubinol               178.0  0.960674  1.027104  0.0  0.0  1.0  2.0  4.0
Ketapril                188.0  1.297872  1.393873  0.0  0.0  1.0  2.0  4.0
Naftisol                186.0  1.182796  1.216519  0.0  0.0  1.0  2.0  4.0
Placebo                 181.0  1.441989  1.338824  0.0  0.0  1.0  2.0  4.0
Propriva                148.0  1.013514  1.106484  0.0  0.0  1.0  1.0  4.0
Ramicane                228.0  0.548246  0.691259  0.0  0.0  0.0  1.0  3.0
Stelasyn                181.0  0.872928  0.972046  0.0  0.0  1.0  1.0  4.0
Zoniferol               182.0  1.230769  1.248884  0.0  0.0  1.0  2.0  4.0

[10 rows x 40 columns]

In [ ]:
# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [ ]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pandas.

In [ ]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pyplot.

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [ ]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen